In [37]:
import pandas as pd
import numpy as np 

df=pd.read_csv('../data/Titanic_cleaned.csv')
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,FamilySize,IsAlone,Title_Mr,Title_Mrs,Title_Rare,Embarked_Q,Embarked_S,AgeGroup_Teen,AgeGroup_Adult,AgeGroup_Middle,AgeGroup_Senior,FareBand
0,0,3,0,22.0,1,0,7.2500,2,0,1,0,0,0,1,0,1,0,0,1
1,1,1,1,38.0,1,0,71.2833,2,0,0,1,0,0,0,0,1,0,0,4
2,1,3,1,26.0,0,0,7.9250,1,1,0,0,0,0,1,0,1,0,0,2
3,1,1,1,35.0,1,0,53.1000,2,0,0,1,0,0,1,0,1,0,0,4
4,0,3,0,35.0,0,0,8.0500,1,1,1,0,0,0,1,0,1,0,0,2

In [38]:
X = df.drop(['Survived'],axis=1)
y = df['Survived']

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [40]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [41]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [42]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train_scaled, y_train)
y_pred_knn = knn.predict(X_test_scaled)

In [43]:
print("Accuracy:", accuracy_score(y_test, y_pred_knn))
print("\n")
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_knn))
print("\n")
print("Classification Report:\n", classification_report(y_test, y_pred_knn))

Accuracy: 0.7762711864406779


Confusion Matrix:
 [[150  25]
 [ 41  79]]


Classification Report:
               precision    recall  f1-score   support

           0       0.79      0.86      0.82       175
           1       0.76      0.66      0.71       120

    accuracy                           0.78       295
   macro avg       0.77      0.76      0.76       295
weighted avg       0.77      0.78      0.77       295

In [44]:
accuracy_list = []
for k in range(1, 21):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train_scaled, y_train)
    y_pred_k = knn.predict(X_test_scaled)
    accuracy_list.append(accuracy_score(y_test, y_pred_k))

best_k = accuracy_list.index(max(accuracy_list)) + 1
print("Best k:", best_k, "with accuracy:", max(accuracy_list))

Best k: 17 with accuracy: 0.8305084745762712